.container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}


