html, body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    font-size: 24px;
    color:#EFF6E0
}


header ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size:23px;
}
.hero,
header,
footer{
    background-color: #01161E;
    color:#598392;
}


.hero{
    display: flex;
    padding:150px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:100px;
    align-content: center;
    height:50vh;
    font-size: 24px;;
    
}
.left-hero,
.right-hero{
    max-width:900px;
}

.left-hero{
    padding: 20px;
}

.left-hero h1{
    font-size: 40px;
    font-weight: 900;
    color:#F9FAF8
}


.img-hero{
    width:800px;
    height:400px;
    background-color: #EFF6E0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-hero{
    display: flex;
    flex-shrink:auto;
}

button{
    background-color:#124559;
    font-size: 23px;
    color:#E5E7EB;
    padding:30px 40px;
    border-radius: 10px;
    border: none;
}

.services-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:150px;
}
.services,
.reviews{
    display: flex;
    padding: 50px 150px;
    
}

.services{
    gap:20px;
    flex-wrap:wrap;
}

.service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex:1 0 100px;
}

.services-section h2{
    font-weight: bolder;
    font-size: 36px;
}

.service .img{
    border: 3px solid #124559 ;
    border-radius: 10%;
}
.reviews{
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #AEC3B0;
}
.reviews quote{
    font-size: 36px;
    font-style: italic;
}
.reviews small{
    display: flex;
    font-weight: bold;
    font-size: 20px;
}
.img{
width: 100px;
height:100px;
margin:20px;
}

.sign-div{
    display:flex;
    margin:200px;
    padding:30px 40px;
    background-color: #124559;
    border-radius: 10px;
    flex-wrap:wrap;
    color: #E5E7EB;
    font-size: 30px;

}

.left-cont,
.right-cont{
    flex:1 1 200px;
}

.right-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-btn{
    border: 1px solid white;
    
}
footer{
    padding: 20px 0;
    text-align: center;
}
